# Exclude everything Git ignores
.git
.gitignore

# Exclude caches and local environments
__pycache__/
*.pyc
venv/
.venv/
build/
dist/
*.egg-info/
.env
.DS_Store
.idea/
.vscode/

# Node/frontend cache (if any)
node_modules/
